{%extends 'base.jinja'%}

{%block title%}Inicio{%endblock%}

{%block content%}

<br><br><br><br>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    DNI
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Nombre y Apellidos
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Correo
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        <a
                            href="{{url_for('clients.create_client')}}"
                            class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
                            Nuevo
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for client in clients%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{client.dni}}
                </th>
                <td class="px-6 py-4">
                    {{client.nombre}} {{client.apellidos}}
                </td>
                <td class="px-6 py-4">
                    {{client.email}}
                </td>
                <td class="px-6 py-4">
                    <button
                        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                        Button
                    </button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}